.avatar {
  width: 180px;
  border-radius: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icons {
  max-width: 300px;
  margin: auto;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
  display: flex;
  justify-content: center;
  gap: 12px;
}

.intro {
  max-width: 500px;
  margin: auto;
}
